@import "globals";
//==========================================

body{
  color: $orange;
  background: black;
}

//.body-content{
//  @include padding('lr', 20)
//}

h1, h2, h3, h4{
  font-family: $Eurocaps
}

p, a, label{
  font-family: $Sintony-Reg;
  font-size: $normal;
  color: $orange;
}

input{
  background: black;
  @include orangeBorder(1px);
  font-size: 14px;
  color: $orange;
}

button.std-button{
  background: black;
  color: $orange;
  font-family: $Eurocaps;
  font-weight: bold;
  font-size: $big;
  padding: 10px 20px 10px 20px;
  @include orangeBorder(2px);
  @include transition(background-color, 0.3s);
  @include transition(color, 0.3s);

  &:hover{
    background: $orange;
    color: black;
  }
}

@import "sidebar";

//.col{
//  display: flex;
//  flex-direction: column;
//}
//
//.row{
//  display: flex;
//  flex-direction: row;
//  justify-content: space-between;
//}
