@import "custom-bootstrap";
@import "common";

//#content{
//  text-align: center;
//}

#login-card{
  @include padding('tb', 40px);
  @include padding('lr', 90px);
  border: 1px solid #ff7100;
  -webkit-box-shadow: inset 0 0 10px rgba(255, 113, 0, 70), 0 0 10px rgba(255, 113, 0, 70);
  -moz-box-shadow: inset 0 0 10px rgba(255, 113, 0, 70), 0 0 10px rgba(255, 113, 0, 70);
  -o-box-shadow: inset 0 0 10px rgba(255, 113, 0, 70), 0 0 10px rgba(255, 113, 0, 70);
  box-shadow: inset 0 0 10px rgba(255, 113, 0, 70), 0 0 10px rgba(255, 113, 0, 70);
  background: -moz-radial-gradient(circle at 50% -30% ,rgba(255, 69, 0, 82) 0%, rgba(0,0,0,50) 85%);
  background: -webkit-radial-gradient(circle at 50% -30% ,rgba(255, 69, 0, 82) 0%, rgba(0,0,0,50) 85%);
  background: -o-radial-gradient(circle at 50% -30% ,rgba(255, 69, 0, 82) 0%, rgba(0,0,0,50) 85%);
  background: radial-gradient(circle at 50% -30% ,rgba(255, 69, 0, 82) 0%, rgba(0,0,0,50) 85%);
  >img{
    width: 306px;
    margin-bottom: 30px;
  }
  .row:first-of-type{
    margin-bottom: 30px;
  }
}