@import "custom-bootstrap";
@import "common";
@import "aylen";

h1{
  text-align: center;
}

input.sysName{
  text-transform: uppercase;
}

#loader{
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  >svg{
    max-width: 50px;
    max-height: 50px!important;
  }
  //.loading{
  //  background: url("../img/svg/EDLoader1.svg");
  //  background-size: contain;
  //  min-width: 50px;
  //}
}