 //Colors
$orange: #ff7100;
$light-orange: #342a28;
$yellow: #ffb000;
$red: #ff0000;
$blue: #00b3f7;
$horizon-blue: #0a8bd6;
$green: #029e4c;

//Mixins
@mixin orangeBorder($px){
  border: $px solid $orange;
}
@mixin transition($prop, $time){
  -webkit-transition: $prop $time;
  -moz-transition: $prop $time;
  transition: $prop $time;
}
@mixin resetMargin($Direction:''){
  @if $Direction == 'l' {
    margin-right: 0 !important;
    margin-left: 0 !important;
  } @else if $Direction == 'v' {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  } @else {
    margin: 0 !important;
  }
}
@mixin resetPadding($Direction:''){
  @if $Direction == 'l' {
    padding-right: 0 !important;
    padding-left: 0 !important;
  } @else if $Direction == 'v' {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  } @else {
    padding: 0 !important;
  }
}
@mixin padding($Direction:'', $px:''){
  @if $Direction == 'lr' {
    padding-right: $px !important;
    padding-left: $px !important;
  } @else if $Direction == 'tb' {
    padding-bottom: $px !important;
    padding-top: $px !important;
  } @else {
    padding: $px !important;
  }
}
@mixin margin($Direction:'', $px:''){
  @if $Direction == 'lr' {
    margin-right: $px !important;
    margin-left: $px !important;
  } @else if $Direction == 'tb' {
    margin-bottom: $px !important;
    margin-top: $px !important;
  } @else {
    margin: $px !important;
  }
}

@mixin border($size, $type, $color, $direction:''){
  @if ($direction == 'tb'){
    border-top: $size $type $color;
    border-bottom: $size $type $color;
  } @else if($direction == 'lr'){
    border-left: $size $type $color;
    border-right: $size $type $color;
  } @else {
    border-top: $size $type $color;
    border-bottom: $size $type $color;
    border-left: $size $type $color;
    border-right: $size $type $color;
  }
}


// Font faces
@font-face {
  font-family: "EUROCAPS";
  src: url("../fonts/EUROCAPS.TTF");
}

@font-face {
  font-family: "Sintony-Bold";
  font-weight: bold;
  src: url("../fonts/Sintony-Bold.ttf");
}

@font-face {
  font-family: "Sintony-Regular";
  src: url("../fonts/Sintony-Regular.ttf");
}

// Fonts
$Eurocaps: "Eurocaps", serif;
$Sintony-Reg: "Sintony-Regular", serif;
$Sintony-Bold: "Sintony-Bold", serif;

// Font sizes
$small: 12px;
$normal: 14px;
$big: 16px;
$bigger: 18px;