{% extends "_layout.html" %}

{% block assets %}
    {% assets "home_css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block body %}

    <a href="{{ url_for('upload.upload') }}">Upload</a>
    <br>
    <a href="{{ url_for('value_search.value_searching') }}">Value Search</a>
    <br>
    <a href="{{ url_for('sphere2riches.s2r_page') }}">Sphere-2-Riches</a>
    <br>
    <a href="{{ url_for('waypoints2riches.w2r_page') }}">Waypoints-2-Riches</a>

{% endblock %}